* {
    box-sizing: border-box;
}

.parent {
    display: block;
    border: 1px solid #333;
    margin: 10px;
    text-align: center;
}

.block {
    background: red;
    width: 150px;
    border: 4px solid #333;
}

.inline {
    background: blue;
    width: 50px; /* Neveiks */
    height: 50px; /* Neveiks */
}

.inline-block {
    display: inline-block;
    background: brown;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
}

.flex {
    display: flex;
    background: blue;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}